# Django backend
DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production
DATABASE_URL=sqlite:///db.sqlite3

# Telegram bot
TELEGRAM_BOT_TOKEN=your_bot_token_here
# TELEGRAM_PROXY=socks5://127.0.0.1:9050   # для SOCKS5
# TELEGRAM_PROXY=http://proxy:8080          # для HTTP-прокси
BACKEND_URL=http://localhost:8000
API_USER=admin
API_PASS=admin
